﻿
@model DTO.AddressDTO

<div class="box-body">
    <input name="ID" value="@Model.ID" hidden type="number" />
    <div class="form-group">
        <label>Address</label>
        @Html.TextAreaFor(x => x.Address, new { @class = "form-control", @placeholder = "Address" })
        @Html.ValidationMessageFor(x => x.Address)
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="form-group">
        <label>Phone 1</label>
        @Html.TextBoxFor(x => x.Phone1, new { @class = "form-control", @placeholder = "Phone 1" })
        @Html.ValidationMessageFor(x => x.Phone1)
    </div>
    <div class="form-group">
        <label>Phone 2</label>
        @Html.TextBoxFor(x => x.Phone2, new { @class = "form-control", @placeholder = "Phone 2" })
        @Html.ValidationMessageFor(x => x.Phone2)
    </div>
    <div class="form-group">
        <label>Fax</label>
        @Html.TextBoxFor(x => x.Fax, new { @class = "form-control", @placeholder = "Fax" })
        @Html.ValidationMessageFor(x => x.Fax)
    </div>
    <div class="form-group">
        <label>Map Path Large</label>
        @Html.TextAreaFor(x => x.MapPathLarge, new { @class = "form-control", @placeholder = "Map Path Large" })
        @Html.ValidationMessageFor(x => x.MapPathLarge)
    </div>
    <div class="form-group">
        <label>Map Path Small</label>
        @Html.TextAreaFor(x => x.MapPathSmall, new { @class = "form-control", @placeholder = "Map Path Small" })
        @Html.ValidationMessageFor(x => x.MapPathSmall)
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">Save</button>
    </div>
</div>
