﻿
@model DTO.CategoryDTO

<div class="box-body">
    <input name="ID" type="number" value="@Model.ID" hidden />
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(x=>x.CategoryName, new {@class="form-control", @placeholder="Category Name"})
        @Html.ValidationMessageFor(x=>x.CategoryName)
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</div>