﻿
@model DTO.AdsDTO

<div class="box-body">
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Ads Name" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        <label>Link</label>
        @Html.TextBoxFor(x => x.Link, new { @class = "form-control", @placeholder = "Link" })
        @Html.ValidationMessageFor(x => x.Link)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.AdsImage)
        <input type="file" name="AdsImage" accept="image/gif, image/jpeg, image/png, image/jpg"
               onchange="$('#AdsImage')[0].src=window.URL.createObjectURL(this.files[0])" />
        <br />
        @if (Model != null && Model.ImagePath != null)
        {
            <br />
            <img src="~/Areas/Admin/Content/AdsImage/@Model.ImagePath" width="300" height="200" />
        }
        else
        {
            <img scr="" width="300" height="200" id="AdsImage" />
        }
    </div>
    <div class="form-group">
        <label>Image Size</label>
        @Html.TextBoxFor(x => x.ImageSize, new { @class = "form-control", @placeholder = "Image Size" })
        @Html.ValidationMessageFor(x => x.ImageSize)
    </div>
    <input type="number" value="@Model.ID" name="ID" hidden />
    <div class="card-footer">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</div>