﻿
@{
    ViewBag.Title = "AddressList";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@model List<DTO.AddressDTO>
<section class="content-header">
    <h1>Address List</h1>
    <ol class=" breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>Admin</a></li>
        <li class="breadcrumb-item"><a>Address</a></li>
        <li class="breadcrumb-item active"><a>Address List</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='/Admin/Address/AddAddress'">Add Address</button>
</div>

<div class="card">
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone1</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                    <tr id="a_@item.ID">
                        <td>@item.Address</td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            @item.Phone1
                        </td>
                        <td align="center" valign="middle">
                            <a href="/Admin/Address/UpdateAddress/@item.ID">
                                <br />
                                <img src="~/Areas/Admin/Content/icons/arrow_circle_double.ico" />
                            </a>
                        </td>
                        <td align="center" valign="middle">
                            <a href="#">
                                <br />
                                <img src="~/Areas/Admin/Content/icons/remove.ico" onclick="AskQuestion('/Admin/Address/DeleteAddress/', @item.ID)"/>
                            </a>
                        </td>
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone1</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
    @Html.Partial("~/Areas/Admin/Views/Shared/ModalMessage.cshtml")
</div>
<script src="~/Areas/Admin/Content/js/DeleteRecord.js"></script>
<!-- /.card -->
