﻿
@model DTO.VideoDTO

<div class="box-body">
    <input name="ID" type="number" value="@Model.ID" hidden />
    <div class="form-group">
        <label>Title</label>
        @Html.TextBoxFor(x=>x.Title, new{ @class="form-control", @placeholder="Title"})
        @Html.ValidationMessageFor(x=>x.Title)
    </div>
    <div class="form-group">
        <label>Video Path</label>
        @Html.TextBoxFor(x => x.OriginalVideoPath, new { @class = "form-control", @placeholder = "Video Path" })
        @Html.ValidationMessageFor(x => x.OriginalVideoPath)
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</div>
