﻿
@using UI.Areas.Admin;

@if (ViewBag.ProcessState == BLL.General.Messages.AddSuccess)
{
    <div class="alert alert-success">
        <strong> Success!! Add Operation was completed Successfully</strong>
    </div>
}
else if (ViewBag.ProcessState == BLL.General.Messages.EmptyArea)
{
    <div class="alert alert-danger">
        <strong> Error!! Please fill the necessary areas</strong>
    </div>
}
else if (ViewBag.ProcessState == BLL.General.Messages.UpdateSuccess)
{
    <div class="alert alert-success">
        <strong> Sucess!! Update Operation was completed Succesfully</strong>
    </div>
}
else if (ViewBag.ProcessState == BLL.General.Messages.ExtensionError)
{
    <div class="alert alert-danger">
        <strong> Error!! Please select file with true extension</strong>
    </div>
}
else if (ViewBag.ProcessState == BLL.General.Messages.ShortPath)
{
    <div class="alert alert-danger">
        <strong> Error!! One path is too short. Please verify the path lenght</strong>
    </div>
}
else if (ViewBag.ProcessState == BLL.General.Messages.GeneralError)
{
    <div class="alert alert-danger">
        <strong> Error!!</strong>
    </div>
}