﻿
@using DTO
@model DTO.UserDTO


<div class="box-body">
    <div class="form-group">
        <label>User Name</label>
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", @placeholder = "User Name" })
        @Html.ValidationMessageFor(x => x.Username)
    </div>
    <div class="form-group">
        <label>Password</label>
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Password" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    @if (UserStatic.IsAdmin)
    {
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="isAdmin" checked="@Model.IsAdmin" value="true">
            <label class="form-check-label">is Admin?</label>
        </div>
    }
    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.UserImage)
        <br />
        <input type="file" name="UserImage" accept="image/gif, image/jpeg, image/png, image/jpg"
               onchange="$('#UserImage')[0].src=window.URL.createObjectURL(this.files[0])" />
        <br />
        @if (Model != null && Model.ImagePath != null)
        {
            <br />
            <img src="~/Areas/Admin/Content/UserImage/@Model.ImagePath" width="200" height="300" />
        }
        else
        {
            <img scr="" width="200" height="300" id="UserImage" />
        }
    </div>
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = "Name" })
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "E-mail" })
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <input hidden type="number" value="@Model.ID" name="ID" />
    <div class="card-footer">
        <button class=" btn btn-primary" type="submit">Save</button>
    </div>
</div>